name: Lint and Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Lint code
        uses: golangci/golangci-lint-action@v3
      - name: Run tests
        run: make test
