name: Lint and Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Lint code
        uses: golangci/golangci-lint-action@v8
      - name: Run tests
        run: make test
